<div class="container">
    <h1>Angular Services</h1>

    <div class="card">AppCounter: {{appCounterService.counter}}</div>
    <button class="btn" (click)="appCounterService.increase()" >+</button>
    <button class="btn" (click)="appCounterService.decrease()" >-</button>

    <div class="card">LocalCounter: {{localCounterService.counter}}</div>
    <button class="btn" (click)="localCounterService.increase()" >+</button>
    <button class="btn" (click)="localCounterService.decrease()" >-</button>

    <app-counter>

    </app-counter>

</div>
